<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moon.order.mapper.TbOrderInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.moon.order.entity.TbOrderInfo">
        <result column="id" property="id" />
        <result column="cus_id" property="cusId" />
        <result column="cus_phone" property="cusPhone" />
        <result column="cus_address" property="cusAddress" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="sum_price" property="sumPrice" />
        <result column="pay_status" property="payStatus" />
        <result column="ord_status" property="ordStatus" />
    </resultMap>

</mapper>
